<footer>


    <div class="support">
      <p class="title">SUPPORT</p>

      <div class="appfree">
        <p>Supported by</p>
        <img
          src="../../assets/footer/myappfree.svg"
          alt="appfree-logo"
        />
      </div>

      <a href="https://scrambly-dev.web.app/contact-us">Contact Us</a>
      <a href="https://scrambly-dev.web.app/faq">FAQ</a>

      <figure>
        <a href="https://www.facebook.com/Scrambly.rewards" target="_blank"><img src="../../assets/footer/facebook-icon.svg" alt="fb-icon"/></a>
        <a href="https://www.instagram.com/scrambly.io/" target="_blank"><img src="../../assets/footer/instagram-icon.svg" alt="instagram-icon" /></a>
        <a href="https://twitter.com/scrambly_io" target="_blank"><img src="../../assets/footer/twitter-icon.svg" alt="twitter-icon"/></a>
        <a href="https://discord.com/invite/SuUENdJgpW" target="_blank"><img src="../../assets/footer/discord-icon.svg" alt="discord-icon"/></a>
      </figure>
    </div>

    <div class="about">
      <p class="title">ABOUT</p>
      <a href="https://www.iubenda.com/privacy-policy/53324113/full-legal" target="_blank">Privacy Policy</a>
      <a href="https://www.iubenda.com/terms-and-conditions/53324113" target="_blank">Terms and Conditions</a>
      <a href="https://scrambly-dev.web.app/rules" target="_blank">Rules of Scrambly</a>
      <a href="#">Advertising tracking preferences</a>
      <p>© 2022 Scrambly, Inc. All rights reserved.</p>
    </div>

  </footer>
