<footer>
    <div>
      <p>Supported by</p>
      <img
        src="https://scrambly-dev.web.app/assets/partners/myappfree-logo.png"
      />
    </div>
    <div>
      Support
      <a href="#">Contact Us</a>
      <a href="#">FAQ</a>
    </div>
    <div>
      About
      <a href="#">Privacy Policy</a>
      <a href="#">Terms and Conditions</a>
      <a href="#">Rules of Scrambly</a>
      <a href="#">Advertising tracking preferences</a>
    </div>
    <figure>
      <a><img src="../assets/footer/facebook-icon.svg" /></a>
      <a><img src="../assets/footer/instagram-icon.svg" /></a>
      <a><img src="../assets/footer/twitter-icon.svg" /></a>
      <a><img src="../assets/footer/discord-icon.svg" /></a>
    </figure>
    <div>
      <p>© 2022 Scrambly, Inc. All rights reserved.</p>
    </div>
  </footer>
