<div class="app-wrapper">
  <app-header></app-header>

  <section class="main">
    <h3>Try new apps & games and get paid with Scrambly</h3>
    <p>
      Discover new products, games and apps and we'll get you paid in PayPal and
      Gift Cards for that!
    </p>
    <button>Get Started</button>
  </section>

  <section class="features">
    <p>Unlimited payouts & cashbacks</p>
    <p>Instant PayPal cash out from $2</p>
    <p>Tailored-offers for smooth completion</p>
    <p>24/7 Support</p>
  </section>

  <section class="FAQs">
    <button class="accordion">What's the concept behind Scrambly?</button>
    <div class="panel">
      <p>
        We've built Scrambly to help ordinary people earn and save money in an
        easy way by checking out free products of brands that are willing to pay
        for it.
      </p>
    </div>

    <button class="accordion">How do I make money?</button>
    <div class="panel">
      <p>
        By performing simple tasks such as installing apps, playing gaming and
        completing surveys.
      </p>
    </div>

    <button class="accordion">How do I save money?</button>
    <div class="panel">
      <p>
        Pick the best cashback offers on Scrambly, use them to shop online and
        get your cashback directly from us.
      </p>
    </div>
    <button class="accordion">How much money can I make here?</button>
    <div class="panel">
      <p>
        It can become a real side-hustle and you can make from $50 to whopping
        $1000+ monthly.
      </p>
    </div>
    <button class="accordion">How long does it take to cash out?</button>
    <div class="panel">
      <p>Our cash outs are instant.</p>
    </div>
  </section>

  <app-footer></app-footer>
</div>
