<div class="app-wrapper">
  <app-header></app-header>

  <section class="main">
    <div class="text-container">
      <h5>Try new apps & games and</h5>
      <h3>
        get paid <br />
        with Scrambly
      </h3>
      <p>
        Discover new products, games and apps and we'll <br />
        get you paid in PayPal and Gift Cards for that!
      </p>
      <button>Get Started</button>
    </div>
    <img src="../assets/body/withdraw.png" />
  </section>

  <section class="features">
    <h3>FEATURES</h3>
    <ul>
      <li>
        <p>
          Unlimited <br />
          payouts & cashbacks
        </p>
      </li>
      <li>
        <p>
          Instant PayPal <br />
          cash out from $2
        </p>
      </li>
      <li>
        <p>
          Tailored-offers <br />
          for smooth completion
        </p>
      </li>
      <li>
        <p>
          24/7 <br />
          Support
        </p>
      </li>
    </ul>
  </section>
  <section class="proof">
    <div class="proof-wrapper">
      <a
        href="https://www.trustpilot.com/review/scrambly.io?utm_medium=trustbox&utm_source=MicroReviewCount"
      >
        See our 100 reviews on
        <img src="../assets/body/trustpilot.svg" alt="trustpilot-logo" />
      </a>
    </div>
  </section>

  <app-accordion></app-accordion>
  <hr/>
  <app-footer></app-footer>
</div>
