/* You can add global styles to this file, and also import other style files */
$light: #f5f0ec;
$dark: #000;
$width: 1680px;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size:16px;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: $dark;
    background: $light url('./assets/body/coins.png') no-repeat center;
    display:flex;
    justify-content: center;
    width:  $width;
    height: auto;
  }